{% extends "layout.html" %}
{% load humanize %}

{% block content %}
    <div id="events">
    {% for event in events %}
        <article class="event" data-event-id="{{ event.id }}">
        <a href="{% url 'single_event' event.id %}"><h2>{{ event.mission.title }} &mdash; {{ event.title }}</h2></a>
            <div class="start_date">{{ event.start_date }} ({{ event.start_date|naturaltime}})</div>
            <div class="description"><p>{{ event.description }}</p></div>
            <div class="pledges">{{ event.active_pledges|length }}/{{ event.max_people }}</div>
            <ul class="pledgers">
                {% for pledge in event.active_pledges %}
                <li {% if not pledge.is_active %} class="canceled" {% endif %}>
                  {{ pledge.user }}
                </li>
                {% endfor %}
            </ul> <!-- pledgers -->
            <div class="pledge">
            {% if user.is_authenticated %}
                {% if not event.current_user_has_active_pledge %}
                    <form action="{% url 'pledge' %}" method="POST">{% csrf_token %}
                        <input type="hidden" name="event-id" value="{{ event.id }}" />
                        <input type="submit" class="btn btn-primary" value="pledge" />
                    </form>
                {% endif %}
                </div>
                <div class="cancel">
                {% if event.current_user_has_active_pledge %}
                    <form action="{% url 'cancel_pledge' %}" method="POST">{% csrf_token %}
                        <input type="hidden" name="event-id" value="{{ event.id }}" />
                        <input type="submit" class="btn btn-danger" value="cancel" />
                    </form>
                {% endif %}
            {% endif %}
            </div>
        </article>
    {% endfor %}
    </div> <!-- #events -->
{% endblock %}
